.profile-container {
  min-height: 100vh;
  margin-top: 100px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.ant-statistic-content-value-int {
  color: white;
}

.segment {
  display: flex;
  gap: 10px;
}

.ant-segmented-item-selected {
  background-color: #00b96b !important;
}

.user-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-user-container {
  width: 90%;
  align-items: center;
  justify-content: center;
}

.profile-table-container {
  overflow-x: auto;
}

.ant-table-content {
  display: block;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .segment {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .profile-user-container {
    width: 100%;
  }

  .profile-table-container {
    width: 100%;
  }
}
