.recipes-bg {
  min-height: 100vh;
  margin-top: 100px;
  display: flex;
  align-items: start;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-left: 3rem;
  z-index: 100;
}

.ingredient-panel {
  max-width: 250px;
  overflow: hidden;
  height: auto;
}

.ingredient-tag {
  margin: 4px;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
}

.ingredient-tag-selected {
  background-color: #1890ff;
  color: white;
}

.ant-collapse-header {
  color: white !important;
}

.recipes-btn {
  background-color: #00b96b;
}

.recipes-container {
  margin-left: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.create-recipe-hero {
  min-height: 100vh;
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url("../images/create-recipe-bg.jpg");
  background-size: cover;
  display: grid;
  place-items: center;
}

.create-recipe-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: inherit;
}

.create-recipe-form {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-details-container {
  margin-top: 100px;
  min-height: 100vh;
}

.recipe-details-card {
  display: flex;
}

@media (max-width: 1400px) {
  .recipe-details-card {
    flex-direction: column;
  }  

  .recipe-details-img {
    height: 50vh;
    object-fit: contain;
  }
}